.table .thead {
    color: white;
    background-color: #03396c;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 1;
}

.align-center {
    text-align: center;
}

.table .record{
    text-align: right;
    padding-right: 30px;
}

.button-container{
    display: flex;
}


.btn-primary{
    align-self: end;
    background-color: 	#005b96;
}

.error-container{
    color: red;
    font-size:small;
    font-weight: bold;
}

.cell-error {
    border: 1px solid red;
}
